#career {
    #section1 {
        width: 100%;
        min-height: 35vh;
        background-image: linear-gradient(rgba(52, 58, 64, 0.84), rgba(52, 58, 64, 0.84)), url(../images/Life-at-clustr/Life-at-Clustr.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .h-48 {
            height: 35vh;
        } // p {
        //     color: #FFFFFF;
        //     font-family: 'Maven Pro', sans-serif;
        //     font-size: 16px;
        //     text-align: center;
        //     font-weight: 100;
        //     @media screen and (max-width: 500px) {
        //         font-size: 14px;
        //     }
        // }
    }
    #section2 {
        h2 {
            color: #4B555F;
            font-family: 'Maven Pro', sans-serif;
            font-size: 30px;
            font-weight: normal;
            margin: 0px;
            text-align: left;
            text-transform: uppercase;
            line-height: 1;
            @media screen and (max-width: 768px) {
                margin-top: 20px;
            }
            @media screen and (max-width: 500px) {
                font-size: 20px;
            }
        }
        p {
            color: #4B555F;
            font-family: 'Maven Pro', sans-serif;
            font-size: 16px;
            @media screen and (max-width: 800px) {
                font-size: 18px;
            }
            @media screen and (max-width: 500px) {
                font-size: 14px;
            }
        }
    }
    #section3 {
        .grid-container {
            display: grid;
            height: 100%;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: "one two four five" "one three four six";
            height: 60vh;
            grid-gap: 6px;
        }

        .one {
            grid-area: one;
        }

        .two {
            grid-area: two;
        }

        .three {
            grid-area: three;
        }

        .four {
            grid-area: four;
        }

        .five {
            grid-area: five;
        }

        .six {
            grid-area: six;
        }

        @media all and (-ms-high-contrast: none),
        (-ms-high-contrast: active) {

            .grid-container {
                display: -ms-grid;
                -ms-grid-columns: 1fr 1fr 1fr 1fr;
                -ms-grid-rows: 1fr 1fr;
            }

            .one {
                -ms-grid-row: 1;
                -ms-grid-row-span: 2;
                -ms-grid-column: 1;
                -ms-grid-column-span: 0;
            }

            .two {
                -ms-grid-row: 1;
                -ms-grid-row-span: 0;
                -ms-grid-column: 2;
                -ms-grid-column-span: 0;
            }

            .three {
                -ms-grid-row: 2;
                -ms-grid-row-span: 0;
                -ms-grid-column: 2;
                -ms-grid-column-span: 0;
            }

            .four {
                -ms-grid-row: 1;
                -ms-grid-row-span: 2;
                -ms-grid-column: 3;
                -ms-grid-column-span: 0;
            }

            .five {
                -ms-grid-row: 1;
                -ms-grid-row-span: 0;
                -ms-grid-column: 4;
                -ms-grid-column-span: 0;
            }

            .six {
                -ms-grid-row: 2;
                -ms-grid-row-span: 0;
                -ms-grid-column: 4;
                -ms-grid-column-span: 0;
            }
        }
    }
    #section4 {
        width: 100%;
        min-height: 35vh;
        background-image: linear-gradient(rgba(52, 58, 64, 0.84), rgba(52, 58, 64, 0.84)), url(../images/Life-at-clustr/open-position.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .h-48 {
            height: 48vh;
        }
        p {
            color: #FFFFFF;
            font-family: 'Maven Pro', sans-serif;
            font-size: 16px;
            text-align: center;
            font-weight: 100;
            @media screen and (max-width: 500px) {
                font-size: 12px;
            }
        }
    }
    #section5 {
        .btn-getInTouch {
            @media screen and (max-width: 500px) {
                margin: 0 auto!important;
            }
        }
        .contentCareer {
            position: relative; // top: -65px;
            background-color: #FFF;
        }
        .card-body {
            @media screen and (max-width: 500px) {
                padding: 0;
            }
        }
        .nav-tabs {
            border: none;
            padding-bottom: 30px;
            .nav-item {
                width: 20%;
                text-align: center;
                padding: 0px 0px 0px 20px;
                a.nav-link {
                    display: inline-block;
                    text-align: center;
                    color: #4B555F;
                    font-family: 'Maven Pro', sans-serif;
                    font-size: 18px;
                    font-weight: 700;
                    padding: 0px;
                    padding-bottom: 5px;
                    border: none;
                    border-bottom: 2px solid transparent;
                    -webkit-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    -ms-transition: all 0.3s ease;
                    -o-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                    &:hover {
                        border-bottom: 2px solid #DCB305;
                        border-left: none;
                        border-right: none;
                        border-top: none;
                        color: #DCB305;
                    }
                    @media screen and (max-width: 768px) {
                        font-size: 11px;
                    }
                    @media screen and (max-width: 500px) {
                        font-size: 10px;
                    }
                }
            }
        }
        .nav-item.show .nav-link,
        .nav-link.active {
            border-bottom: 2px solid #DCB305!important;
            border-color: #DCB305!important;
            color: #DCB305!important;
            border-left: none!important;
            border-right: none!important;
            border-top: none!important;
        }
        .card {
            border: none;
            border-bottom: 1px solid #4B555F;
            border-radius: 0px;
            &:first-child {
                border-top: 1px solid #4B555F;
            }
            .card-header {
                background-color: transparent;
                border-bottom: none;
                padding: 20px 0px;
                .btn-link {
                    display: block;
                    width: 100%;
                }
                .career-arrow {
                    color: #4B555F;
                    display: block;
                    font-family: 'Maven Pro', sans-serif;
                    font-weight: 700;
                    font-size: 16px;
                    text-decoration: none;
                    @media screen and (max-width: 500px) {
                        font-size: 12px;
                    }
                    &:after {
                        content: "\f068";
                        font-family: "Font Awesome 5 Free";
                        float: right;
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 25px;
                        padding-right: 20px;
                    }
                }
                .collapsed {
                    &:after {
                        content: "\f067";
                        font-family: "Font Awesome 5 Free";
                        float: right;
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 25px;
                        padding-right: 20px;
                    }
                }
            }
            .job-req {
                p {
                    color: #4B555F;
                    font-family: 'Maven Pro', sans-serif;
                    font-size: 16px;
                    @media screen and (max-width: 500px) {
                        font-size: 12px;
                    }
                    strong {
                        font-weight: 500;
                    }
                }
                ul.job-desc {
                    @media screen and (max-width: 500px) {
                        padding: 5px;
                        margin-top: 10px;
                    }
                    li {
                        color: #4B555F;
                        font-family: 'Maven Pro', sans-serif;
                        font-size: 16px;
                        @media screen and (max-width: 500px) {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    #section6 {
        h3 {
            color: #4B555F;
            font-family: 'Maven Pro', sans-serif;
            font-size: 18px;
            font-weight: 700;
            @media screen and (max-width: 500px) {
                font-size: 14px;
            }
        }
        a {
            color: #DCB305;
            font-family: 'Maven Pro', sans-serif;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0.5px;
            text-decoration: none;
            @media screen and (max-width: 500px) {
                font-size: 12px;
            }
        }
    }
}

#our-team {
    // li {
    //     @media screen and (max-width: 800px) {
    //         width:50%;
    //     }
    // }
    .col-team {
             width: 20%;
             @media screen and (max-width: 800px) {
                 width:50%;
             }
             @media screen and (max-width: 500px) {
                 width: 100%;
             }
         }
    .team-desciption {


        list-style: none;
        padding: 0px;
        display: flex;
        margin-top: 2px;
        margin-bottom: 0;
        .team-item {
            // display: inline-block;
            // width: 20%;
            margin-left: 2px;

            .team-item_content {
                position: relative;
                z-index: 1;
                a {
                    color: #fff;
                }
                &:before {
                    content: '';
                    position: absolute;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    opacity: 0;
                    background: #222328;
                    -webkit-transition: all 0.4s;
                    -o-transition: all 0.4s;
                    -moz-transition: all 0.4s;
                    transition: all 0.4s;
                }
                .team-image {
                    overflow: hidden;
                    img {
                        -webkit-transition: all 0.4s;
                        -o-transition: all 0.4s;
                        -moz-transition: all 0.4s;
                        transition: all 0.4s;
                        -webkit-transform: scale3d(1, 1, 1) translateX(0);
                        -moz-transform: scale3d(1, 1, 1) translateX(0);
                        transform: scale3d(1, 1, 1) translateX(0);
                    }
                }
                .team-item_info {
                    position: absolute;
                    z-index: 1;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                    padding: 0 25px 15px;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    opacity: 0;
                    -webkit-transition: all 0.4s;
                    -o-transition: all 0.4s;
                    -moz-transition: all 0.4s;
                    transition: all 0.4s;
                    @media screen and (max-width: 768px) {
                        padding: 20px 12px;
                    }
                    .team-title {
                        color: #ffffff;
                        font-family: 'Maven Pro', sans-serif;
                        font-weight: 700;
                        font-size: 16px;
                        margin: 0px;
                        -webkit-transition: all 0.4s;
                        -o-transition: all 0.4s;
                        -moz-transition: all 0.4s;
                        transition: all 0.4s;
                        -webkit-transform: translateX(-10px);
                        -moz-transform: translateX(-10px);
                        -ms-transform: translateX(-10px);
                        -o-transform: translateX(-10px);
                        transform: translateX(-10px);
                        -webkit-transition-delay: 0s;
                        -moz-transition-delay: 0s;
                        -o-transition-delay: 0s;
                        transition-delay: 0s;

                        @media screen and (max-width: 768px) {
                            font-size: 10px;
                        }
                    }
                    .team-department {
                        color: #ffffff;
                        font-family: 'Maven Pro', sans-serif;
                        font-size: 14px;
                        -webkit-transition: all 0.4s;
                        -o-transition: all 0.4s;
                        -moz-transition: all 0.4s;
                        transition: all 0.4s;
                        -webkit-transform: translateX(-10px);
                        -moz-transform: translateX(-10px);
                        -ms-transform: translateX(-10px);
                        -o-transform: translateX(-10px);
                        transform: translateX(-10px);
                        -webkit-transition-delay: 0s;
                        -moz-transition-delay: 0s;
                        -o-transition-delay: 0s;
                        transition-delay: 0s;
                        @media screen and (max-width: 768px) {
                            font-size: 10px;
                        }
                    }

                    .fa-linkedin:before {
                        font-size: 20px;
                    }
                }
            }
            &:not(.team-become_member) {
                &:hover {
                    .team-item_info {
                        opacity: 1;
                    }
                    .team-title,
                    .team-department {
                        -webkit-transform: translateX(0);
                        -moz-transform: translateX(0);
                        -ms-transform: translateX(0);
                        -o-transform: translateX(0);
                        transform: translateX(0);
                    }
                    .team-item_content {
                        &::before {
                            opacity: 0.7;
                        }
                    }
                    .team-image {
                        img {
                            webkit-transform: scale3d(1.04, 1.04, 1.04) translateX(5px);
                            -moz-transform: scale3d(1.04, 1.04, 1.04) translateX(5px);
                            transform: scale3d(1.04, 1.04, 1.04) translateX(5px);
                        }
                    }
                }
            }
        }
    }
}

.our-team-heading {
    text-align: center;
    h2 {
        color: #4B555F;
        font-family: 'Maven Pro', sans-serif;
        font-size: 30px;
        font-weight: normal;
        padding-bottom: 25px;
        margin: 0px;
        text-transform: uppercase;
    }
    p {
        color: #4B555F;
        font-family: 'Maven Pro', sans-serif;
        font-size: 16px;
        @media screen and (max-width: 500px) {
            padding: 0px 0px 20px 0px;
        }
    }
}

.swiper-pagination {
    width: 100%;
    padding-top: 10px;
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        margin-right: 10px;
        background: #4B555F;
    }
}