#contact {
    padding-top: 80px;
    .contact {


        .heading {
            color: #4B555F;
            font-family: 'Maven Pro', sans-serif;
            font-size: 30px;
            font-weight: 700;
            @media screen and (max-width: 500px) {
                font-size: 20px;
            }
        }
        .sub-heading {
            color: #4B555F;
            font-family: 'Maven Pro', sans-serif;
            font-size: 16px;
            text-align: left;
        }
        .sub-title {
            color: #4B555F;
            font-family: 'Maven Pro', sans-serif;
            font-size: 16px;
        }
        .add-box {
            h3 {
                color: #4B555F;
                font-family: 'Maven Pro', sans-serif;
                font-size: 16px;
                font-weight: 600;
            }
        }
        .contact-no {
            .navbar-nav {
                li.nav-item {
                    color: #4B555F;
                    font-family: 'Maven Pro', sans-serif;
                    font-size: 16px;
                    p {
                        display: block;
                        margin: 0px;
                        font-weight: 500;
                        a {
                            display: inline-block;
                            color: #4B555F;
                            padding: 0px;
                        }
                    }
                }
            }
        }
        #map {
            height: 60vh;
        }
    }
    .contact-form {
        .form-control {
            &:focus {
                border-color: #ddb43e;
            }
        }
    }
    .lightgrey-bg-clr {
        background-color: #F1F3F6;
        padding-top: 28px;
    }
}