 .h60vh {
     height: 35vh;
 }

 .padtop40 {
     padding-top: 40px;
 }

 .about-para {
     color: #4B555F;
     font-family: 'Maven Pro', sans-serif;
     font-size: 16px;
     letter-spacing: 0.4px;
     @media screen and (max-width: 800px){
        font-size: 18px;
     }
     @media screen and (max-width: 500px) {
         font-size: 16px;
     }
 }

 #about-us {
     .vision {
         padding: 30px 50px 20px 45px;
         border-radius: 3px; // min-height: 319px;
         min-height: 250px;
         max-height: 250px;
         box-shadow: 0 0 90px 0 rgba(0, 0, 0, 0.05);
         @media screen and (max-width: 768px) {
             min-height: auto;
             max-height: none;
             padding: 30px 40px 20px 45px;
             @media screen and (max-width: 600px) {
                 text-align: center;
                 margin-top: 15px;
             }
         }
         img {
             width: 50px;
             height: 50px;
         }
     }
     .about-banner {
         width: 100%;
         min-height: 35vh;
         background-image: linear-gradient(rgba(52, 58, 64, 0.7), rgba(52, 58, 64, 0.7)), url(../images/about/About-Banner.png);
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
     }
     #second-wrap {
         h4 {
             color: #4B555F;
             font-family: 'Maven Pro', sans-serif;
             font-size: 20px;
             font-weight: 500;
             @media screen and (max-width: 500px) {
                 font-size: 16px;
             }
         }
     }
     #our-origin {
         a {
             color: #DCB305;
             text-decoration: none;
             font-family: 'Maven Pro', sans-serif;
             font-weight: 700;
         }
     }
     #meet-our-team {
         .imp-team {
             @media screen and (max-width: 500px) {
                 .col {
                     margin-bottom: 10px;
                 }
             }
         }
         .col-team {
             width: 20%;
             @media screen and (max-width: 800px) {
                 width:50%;
             }
             @media screen and (max-width: 500px) {
                 width: 100%;
             }
         }
         .team-desciption {
             list-style: none;
             padding: 0px;
             display: flex;
             margin-top: 2px;
             margin-bottom: 0;
             .team-item {
                 display: inline-block; // width: 20%;
                 margin-left: 2px;
                 @media screen and (max-width: 500px) {
                     display: block;
                     margin: 0 auto;
                 }

                 .team-item_content {
                     position: relative;
                     z-index: 1;
                     a {
                         color: #fff;
                     }
                     &:before {
                         content: '';
                         position: absolute;
                         z-index: 1;
                         width: 100%;
                         height: 100%;
                         left: 0;
                         top: 0;
                         opacity: 0;
                         background: #222328;
                         -webkit-transition: all 0.4s;
                         -o-transition: all 0.4s;
                         -moz-transition: all 0.4s;
                         transition: all 0.4s;
                     }

                     .team-image {
                         overflow: hidden;
                         img {
                             -webkit-transition: all 0.4s;
                             -o-transition: all 0.4s;
                             -moz-transition: all 0.4s;
                             transition: all 0.4s;
                             -webkit-transform: scale3d(1, 1, 1) translateX(0);
                             -moz-transform: scale3d(1, 1, 1) translateX(0);
                             transform: scale3d(1, 1, 1) translateX(0);
                         }
                     }
                     .team-item_info {
                         position: absolute;
                         z-index: 1;
                         width: 100%;
                         bottom: 0;
                         left: 0;
                         padding: 0 25px 15px;
                         -webkit-box-sizing: border-box;
                         -moz-box-sizing: border-box;
                         box-sizing: border-box;
                         opacity: 0;
                         -webkit-transition: all 0.4s;
                         -o-transition: all 0.4s;
                         -moz-transition: all 0.4s;
                         transition: all 0.4s;
                         .team-title {
                             color: #ffffff;
                             font-family: 'Maven Pro', sans-serif;
                             font-weight: 700;
                             font-size: 16px;
                             margin: 0px;
                             -webkit-transition: all 0.4s;
                             -o-transition: all 0.4s;
                             -moz-transition: all 0.4s;
                             transition: all 0.4s;
                             -webkit-transform: translateX(-10px);
                             -moz-transform: translateX(-10px);
                             -ms-transform: translateX(-10px);
                             -o-transform: translateX(-10px);
                             transform: translateX(-10px);
                             -webkit-transition-delay: 0s;
                             -moz-transition-delay: 0s;
                             -o-transition-delay: 0s;
                             transition-delay: 0s;
                         }
                         .team-department {
                             color: #ffffff;
                             font-family: 'Maven Pro', sans-serif;
                             font-size: 14px;
                             -webkit-transition: all 0.4s;
                             -o-transition: all 0.4s;
                             -moz-transition: all 0.4s;
                             transition: all 0.4s;
                             -webkit-transform: translateX(-10px);
                             -moz-transform: translateX(-10px);
                             -ms-transform: translateX(-10px);
                             -o-transform: translateX(-10px);
                             transform: translateX(-10px);
                             -webkit-transition-delay: 0s;
                             -moz-transition-delay: 0s;
                             -o-transition-delay: 0s;
                             transition-delay: 0s;
                         }

                         .fa-linkedin:before {
                             font-size: 20px;
                         }
                     }
                 }
                 &:not(.team-become_member) {
                     &:hover {
                         .team-item_info {
                             opacity: 1;
                         }
                         .team-title,
                         .team-department {
                             -webkit-transform: translateX(0);
                             -moz-transform: translateX(0);
                             -ms-transform: translateX(0);
                             -o-transform: translateX(0);
                             transform: translateX(0);
                         }
                         .team-item_content {
                             &::before {
                                 opacity: 0.7;
                             }
                         }
                         .team-image {
                             img {
                                 webkit-transform: scale3d(1.04, 1.04, 1.04) translateX(5px);
                                 -moz-transform: scale3d(1.04, 1.04, 1.04) translateX(5px);
                                 transform: scale3d(1.04, 1.04, 1.04) translateX(5px);
                             }
                         }
                     }
                 }
             }
         }




         .team-heading {
             text-align: center;
             h2 {
                 color: #4B555F;
                 font-family: 'Maven Pro', sans-serif;
                 font-size: 30px;
                 font-weight: normal;
                 padding-bottom: 25px;
                 margin: 0px;
                 text-transform: uppercase;
             }
             p {
                 color: #4B555F;
                 font-family: 'Maven Pro', sans-serif;
                 font-size: 16px;
                 @media screen and (max-width: 500px) {
                     font-size: 14px;
                 }
             }
         }
     }
 }
 /*......image overlay effect with the text..........*/

 .swiper-pagination {
     width: 100%;
     padding-top: 10px;
     .swiper-pagination-bullet {
         width: 10px;
         height: 10px;
         margin-right: 10px;
         background: #4B555F;
     }
 }