#newsandmedia {
    #media {
        width: 100%;
        min-height: 35vh;
        background-image: linear-gradient(rgba(52, 58, 64, 0.84), rgba(52, 58, 64, 0.84)), url(../images/news-and-media/News_and_media_banner.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .h-48 {
            height: 35vh;
        }
        // p {
        //     color: #FFFFFF;
        //     font-family: 'Maven Pro', sans-serif;
        //     font-size: 16px;
        //     text-align: center;
        //     font-weight: 100;
        // }
    }
    #news-media-box {

        .blog-card {
            text-decoration: none;

            border: none;
            .card-body {
                padding: 15px 0px;
                h5 {
                    color: #4B555F;
                    font-family: 'Maven Pro', sans-serif;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 1.5;
                    @media screen and (max-width: 800px){
                        font-size: 20px;
                    }
                    @media screen and (max-width: 500px){
                        font-size: 18px;
                    }
                }
                p.card-text {
                    color: #5E5E5E;
                    font-family: 'Maven Pro', sans-serif;
                    font-size: 14px;
                    @media screen and (max-width: 800px){
                        font-size: 18px;
                    }
                    @media screen and (max-width: 500px){
                        font-size: 14px;
                    }

                }
                p {
                    color: #5E5E5E;
                    font-family: 'Maven Pro', sans-serif;
                    font-size: 12px;
                }
            }
        }
        ul.pagination {
            li {
                .page-link {
                    border: none;
                    color: #4B555F;
                    font-family: 'Maven Pro', sans-serif;
                    font-size: 16px;
                    font-weight: 600;
                    &:hover {
                        color: #4B555F;
                        background-color: #D8D8D8;
                    }
                }
            }
            .page-item.disabled .page-link {
                color: #6c757d;
                background-color: #fff;
            }
        }
        /*.pagina {
                a:hover {
                  cursor: pointer;
                }
                #pagination {
                  display: flex;
                  height: 20vh;
                  align-items: center;
                  justify-content: center;
                  flex-direction: column;
                }
                ul {
                  list-style: none;
                  padding: 0;
                  margin: 0;
                  display: flex;
                  li {
                    color: #fff;
                    display: flex;
                    a {
                    font-family: 'Maven Pro', sans-serif;   
                      color: #4B555F;
                      font-size: 16px;  
                      font-weight: 600;
                      padding: 5px 12px;
                     
                    }
                  }
                 
                  li.active a {
                    background-color: #D8D8D8;
                  }
                 
                }
        }*/
    }
}









/*.........css of thought leadership individual blog page.......*/

#blog-indi {
    width: 100%;
    min-height: 60vh;
    background-image: url(../images/thought-leadership/individual-blogs/Individual_blogs.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* .h-48 {
        height: 35vh;
    }*/
}

#indi-blog-content {
    h1 {
        color: #4B555F;
        font-family: 'Maven Pro', sans-serif;
        font-size: 30px;
        font-weight: 700;
    }
    p.blg-person {
        color: #4B555F;
        font-family: 'Maven Pro', sans-serif;
        font-size: 16px;
        font-weight: 500;
    }
    .text-box {
        position: relative;
        border-bottom: 1px solid #979797;
        padding-bottom: 15px;
        margin-bottom: 20px;
        p {
            color: #4B555F;
            font-family: 'Maven Pro', sans-serif;
            font-size: 16px;
            span {
                color: #DCB305;
            }
        }
        /*blockquote {
            color: #BDBDBD; 
            font-family: 'Maven Pro', sans-serif;   
            font-size: 16px;
            margin-left: 30px;
            border-left: 2px solid #DCB305;
            padding-left: 30px;
        }*/
    }
    .blg-sub {
        color: #4B555F;
        font-family: 'Maven Pro', sans-serif;
        font-size: 16px;
        font-weight: 700;
    }
    .imgtext {
        color: #4B555F;
        font-family: 'Maven Pro', sans-serif;
        font-size: 16px;
        font-weight: 500;
    }
    .social-box {
        position: sticky;
        top: 0;
        padding-top: 150px;
        ul {
            list-style: none;
            padding: 0;
            li {
                padding-bottom: 20px;
            }
        }
    }
}

.pb-120 {
    padding-bottom: 120px;
}

// inner media page
#inner-media {
    p {
        font-family: 'Maven Pro', sans-serif;
        font-size: 12px;
        @media screen and (max-width: 500px) {
            font-size: 10px;
        }
    }
}