#solution {
	width: 100%;
        min-height: 35vh;
        background-image: linear-gradient(rgba(52, 58, 64, 0.84), rgba(52, 58, 64, 0.84)), url(../images/solution/Banner-Solutions.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .h-48 {
        	height: 35vh;
        }
}