#home-page {
    .mobile-banner {
        width: 100%;
        min-height: 100vh;
        background-image: linear-gradient(rgba(52, 58, 64, 0.7), rgba(52, 58, 64, 0.7)), url(../images/home/mobile-Banner.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #lottie {
        background-color: #4c555e;
        width: 100%;
        display: block;
        overflow: hidden;
        transform: translate3d(0, 0, 0);
        text-align: center;
        opacity: 1;
        svg {
            margin-bottom: 50px;
            margin-top: 50px;
        }
    }
    .home-landing-video-container {
        position: relative;
        height: auto;
        .videotext {
            position: absolute;
            width: 100%;
            z-index: 2;
        }
        video {
            min-width: 100%;
            width: 100%;
            min-height: 100%;
            background-size: cover;
        }
        .overlay {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
        }
        .overlay-dark {
            background: #4B555F;
            opacity: .3;
        }
    }
    #why-here {

        .col-width {
            width: 20%;
            padding-right: 15px;
            @media screen and (max-width: 768px) {
                width:100%;
            }
            @media screen and (max-width: 500px) {
                padding: 0 10px;
            }
        } // .col {
        //     padding-right: 0.25rem;
        //     @media screen and (max-width: 600px) {
        //         padding-right: 1rem;
        //         padding-top: 10px;
        //     }
        // }
        .white-box {
            padding: 20px 11px 20px 20px;
            border-radius: 3px;
            background-color: #FFFFFF;
            min-height: 300px;
            max-height: 300px;
            box-shadow: 0 0 90px 0 rgba(0, 0, 0, 0.04);

            @media screen and (max-width: 768px) {
                min-height: auto;
                max-height: auto;
                margin-top: 20px;
                display: flex;
                align-items: center;
                .content {
                    margin-left: 15px;
                }
            }
            @media screen and (max-width: 500px) {
                display: block; // padding: 20px 20px 20px 20px;
                padding: 20px 20px 20px 4px;
            }


            img {
                width: 55px;
                height: 55px;
            }
            h4 {
                color: #4B555F;
                font-family: 'Maven Pro', sans-serif;
                font-size: 17px;
                font-weight: bold;
                text-align: center;
                margin-top: 20px;

                @media screen and (max-width: 768px) {
                    text-align: left;
                    margin-top: 0;
                }
                @media screen and (max-width: 500px) {
                    font-size: 15px;
                    text-align: center;
                    margin-top: 10px;
                }
            }
            p {
                color: #7B7C7F;
                font-family: 'Maven Pro', sans-serif;
                font-size: 15px;
                line-height: 1.35;
                @media screen and (max-width: 800px) {
                    font-size: 16px;
                }
                @media screen and (max-width: 768px) {
                    text-align: left;
                    margin: 0;
                }
                @media screen and (max-width: 500px) {
                    font-size: 14px;
                    text-align: center;
                }
            }
        }
    }

    #our-mission {
        .lightgray-bg {
            h3 {
                color: #4B555F;
                font-family: 'Maven Pro', sans-serif;
                font-size: 30px;
                line-height: 1.5;
                font-weight: normal;
                text-transform: uppercase;
                letter-spacing: 0.4px;
                padding-bottom: 20px;
                @media screen and (max-width: 768px) {
                    font-size: 22px;
                }
                @media screen and (max-width: 500px) {
                    font-size: 16px;
                }
            }

            h4 {
                color: #4B555F;
                font-family: 'Maven Pro', sans-serif;
                font-size: 20px;
                font-weight: bold;
                letter-spacing: 0.4px;
                margin-top: 30px;
                margin-bottom: 4px;
                @media screen and (max-width: 500px) {
                    font-size: 16px;
                }
            }
            .shop {
                width: 393px;
                height: 401px;
                @media screen and (max-width: 600px) {
                    margin-left: 0!important;
                }
            }
        }
    }
}

.pt-60 {
    padding-top: 60px;
}

// Scroll animation
$colorBg: #222a30;
$colorOutline: #ffffff;
$colorOutlineFade: #4e5559;

$widthMouse: 25px;
$heightMouse:42px;
$borderMouse: 6px;

$posMouse: 8px;
$posText: 2px;

$sizeTrackball: 6px;
$posTrackball: 10px;
$shrinkTrackball: 0.4;

$animDuration: 5s;

@mixin bgGradient {
    background: #dcb305 linear-gradient( transparent 0%,
    transparent 50%,
    #dcb305 50%,
    #dcb305 100%);
}

.body {

    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px; // background-color: $colorBg;
}

.mouse {
    @include bgGradient;
    position: relative;
    width: $widthMouse;
    height: $heightMouse;
    background-size: 100% 100%;
    border-radius: 100px;
    background-size: 225%;
    background: transparent;
    border: 2px solid #dcb305;
    margin: auto;

    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
    &:before {
        width: $widthMouse - $borderMouse;
        height: $heightMouse - $borderMouse;
        background-color: transparent;
        border-radius: 100px;
    }
    &:after {
        background-color: #dcb305;
        width: $sizeTrackball;
        height: $sizeTrackball;
        border-radius: 100%;
        animation: trackBallSlide $animDuration linear infinite;
    }
}

@keyframes colorSlide {
    0% {
        background-position: 0% 100%;
    }
    20% {
        background-position: 0% 0%;
    }
    21% {
        background-color: $colorOutlineFade;
    }
    29.99% {
        background-color: $colorOutline;
        background-position: 0% 0%;
    }
    30% {
        background-color: $colorOutlineFade;
        background-position: 0% 100%;
    }
    50% {
        background-position: 0% 0%;
    }
    51% {
        background-color: $colorOutlineFade;
    }
    59% {
        background-color: $colorOutline;
        background-position: 0% 0%;
    }
    60% {
        background-color: $colorOutlineFade;
        background-position: 0% 100%;
    }
    80% {
        background-position: 0% 0%;
    }
    81% {
        background-color: $colorOutlineFade;
    }
    90%,
    100% {
        background-color: $colorOutline;
    }
}

@keyframes trackBallSlide {
    0% {
        opacity: 1;
        transform: scale(1) translateY(-$posTrackball);
    }
    6% {
        opacity: 1;
        transform: scale(0.9) translateY($posTrackball/4);
    }
    14% {
        opacity: 0;
        transform: scale($shrinkTrackball) translateY($posTrackball*2);
    }
    15%,
    19% {
        opacity: 0;
        transform: scale($shrinkTrackball) translateY(-$posTrackball);
    }
    28%,
    29.99% {
        opacity: 1;
        transform: scale(1) translateY(-$posTrackball);
    }
    30% {
        opacity: 1;
        transform: scale(1) translateY(-$posTrackball);
    }
    36% {
        opacity: 1;
        transform: scale(0.9) translateY($posTrackball/4);
    }
    44% {
        opacity: 0;
        transform: scale($shrinkTrackball) translateY($posTrackball*2);
    }
    45%,
    49% {
        opacity: 0;
        transform: scale($shrinkTrackball) translateY(-$posTrackball);
    }
    58%,
    59.99% {
        opacity: 1;
        transform: scale(1) translateY(-$posTrackball);
    }
    60% {
        opacity: 1;
        transform: scale(1) translateY(-$posTrackball);
    }
    66% {
        opacity: 1;
        transform: scale(0.9) translateY($posTrackball/4);
    }
    74% {
        opacity: 0;
        transform: scale($shrinkTrackball) translateY($posTrackball*2);
    }
    75%,
    79% {
        opacity: 0;
        transform: scale($shrinkTrackball) translateY(-$posTrackball);
    }
    88%,
    100% {
        opacity: 1;
        transform: scale(1) translateY(-$posTrackball);
    }
}

@keyframes nudgeMouse {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY($posMouse);
    }
    30% {
        transform: translateY(0);
    }
    50% {
        transform: translateY($posMouse);
    }
    60% {
        transform: translateY(0);
    }
    80% {
        transform: translateY($posMouse);
    }
    90% {
        transform: translateY(0);
    }
}

@keyframes nudgeText {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY($posText);
    }
    30% {
        transform: translateY(0);
    }
    50% {
        transform: translateY($posText);
    }
    60% {
        transform: translateY(0);
    }
    80% {
        transform: translateY($posText);
    }
    90% {
        transform: translateY(0);
    }
}

@keyframes colorText {
    21% {
        color: $colorOutlineFade;
    }
    30% {
        color: $colorOutline;
    }
    51% {
        color: $colorOutlineFade;
    }
    60% {
        color: $colorOutline;
    }
    81% {
        color: $colorOutlineFade;
    }
    90% {
        color: $colorOutline;
    }
}


.scroll-arrow {
    position: absolute;
    top: -50px;
    z-index: 1;
    text-align: center;
    left: 0;
    right: 0;
    svg {
        width: 30px;
    }
}
.scroll-arrow-mobile{
    position: absolute;
    top: 200px;
    z-index: 1;
    text-align: center;
    left: 0;
    right: 0;
    svg {
        width: 30px;
    }
}