#thought {
    #blogs {
        width: 100%;
        min-height: 35vh;
        background-image: linear-gradient(rgba(52, 58, 64, 0.84), rgba(52, 58, 64, 0.84)), url(../images/thought-leadership/Thought_leadership_banner.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .h-48 {
            height: 35vh;
        }
    }
    #blog-container {
        .nav-tabs {
            border: none;
            padding-bottom: 30px;
            .nav-item {
                padding: 0px 20px;
                @media screen and (max-width: 500px) {
                    padding: 0px 7px;
                }
                @media screen and (max-width: 400px) {
                    padding: 0px 5px;
                } // @media screen and (max-width: 320px){
                //     padding: 0px 5px;
                // }
                &:first-child {
                    padding-left: 0px;
                }
                a.nav-link {
                    display: inline-block;
                    text-align: center;
                    color: #4B555F;
                    font-family: 'Maven Pro', sans-serif;
                    font-size: 16px;
                    padding: 0px;
                    padding-bottom: 5px;
                    border-bottom: 2px solid transparent;
                    border: none;
                    text-transform: uppercase;
                    -webkit-transition: color 0.3s ease;
                    -moz-transition: color 0.3s ease;
                    -ms-transition: color 0.3s ease;
                    -o-transition: color 0.3s ease;
                    transition: color 0.3s ease;
                    font-weight: 500;

                    &:hover {
                        border-bottom: 2px solid #DCB305;
                        border-left: none;
                        border-right: none;
                        border-top: none;
                        color: #DCB305;
                    }
                    @media screen and (max-width: 500px) {
                        font-size: 12px;
                    }
                    @media screen and (max-width: 320px) {
                        font-size: 10px;
                    }
                }
                a.is-checked {

                    border-bottom: 2px solid #DCB305;
                    border-left: none;
                    border-right: none;
                    border-top: none;
                    color: #DCB305;
                }
            }
        } // .nav-item.show .nav-link, .nav-link.active {
        //      border-bottom: 2px solid #DCB305!important;
        //      border-color: #DCB305!important;
        //      color: #DCB305!important;
        //      border-left: none!important;
        //      border-right: none!important;
        //      border-top: none!important;
        // }
        .pt-30 {
            padding-top: 30px;
        }
        .blog-card {
            text-decoration: none;
            background-color: #F1F3F6;
            border: none;
        }
        .card-body {

            h5 {
                color: #4B555F;
                font-family: 'Maven Pro', sans-serif;
                font-size: 18px;
                font-weight: 500;
                @media screen and (max-width: 600px) {
                    font-size: 14px;
                }
            }
            p.card-text {
                color: #5E5E5E;
                font-family: 'Maven Pro', sans-serif;
                font-size: 14px; // @media screen and (max-width: 2000px){
                //     font-size: 14px;
                // }
                @media screen and (max-width: 800px) {
                    font-size: 16px;
                }
                @media screen and (max-width: 500px) {
                    font-size: 14px;
                }
            }
            p {
                color: #5E5E5E;
                font-family: 'Maven Pro', sans-serif;
                font-size: 12px;
            }
        }
        .blog-thumbnail {
            min-height: 210px;
            @media screen and (max-width: 800px) {
                min-height: 325px;
            }
            @media screen and (max-width: 600px) {
                min-height: 200px;
            }
        }
        .video-thumbnail {
            position: relative;
            h5 {
                font-weight: normal;
                line-height: 1.6;
                @media screen and (max-width: 500px) {
                    line-height: 1.3;
                }
            }
            .youtube-img {
                img {
                    position: absolute;
                    top: 20%;
                    right: 0;
                    left: 0;
                    text-align: center;
                    margin: 0 auto;
                }
            }
        }


        ul.pagination {
            li {
                .page-link {
                    border: none;
                    color: #4B555F;
                    font-family: 'Maven Pro', sans-serif;
                    font-size: 16px;
                    font-weight: 600;
                    &:hover {
                        color: #4B555F;
                        background-color: #D8D8D8;
                    }
                }
            }
            .page-item.disabled .page-link {
                color: #6c757d;
                background-color: #fff;
            }
        }
        /*.pagina {
                a:hover {
                  cursor: pointer;
                }
                #pagination {
                  display: flex;
                  height: 20vh;
                  align-items: center;
                  justify-content: center;
                  flex-direction: column;
                }
                ul {
                  list-style: none;
                  padding: 0;
                  margin: 0;
                  display: flex;
                  li {
                    color: #fff;
                    display: flex;
                    a {
                    font-family: 'Maven Pro', sans-serif;   
                      color: #4B555F;
                      font-size: 16px;  
                      font-weight: 600;
                      padding: 5px 12px;
                     
                    }
                  }
                 
                  li.active a {
                    background-color: #D8D8D8;
                  }
                 
                }
        }*/
    }
}

















/*.........css of thought leadership individual blog page.......*/

#blog-indi {
    width: 100%;
    min-height: 60vh;
    background-image: url(../images/thought-leadership/individual-blogs/Individual_blogs.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* .h-48 {
        height: 35vh;
    }*/
}

#blog-secindi {
    width: 100%;
    min-height: 60vh;
    background-image: url(../images/thought-leadership/individual-blogs/blog-individual.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* .h-48 {
        height: 35vh;
    }*/
}

#indi-blog-content {
    .media {
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
    h1 {
        color: #4B555F;
        font-family: 'Maven Pro', sans-serif;
        font-size: 30px;
        font-weight: 700;
    }
    p.blg-person {
        color: #4B555F;
        font-family: 'Maven Pro', sans-serif;
        font-size: 16px;
        font-weight: 500;
    }
    .text-box {
        position: relative;
        border-bottom: 1px solid #979797;
        padding-bottom: 15px;
        margin-bottom: 20px;
        @media screen and (max-width: 768px) {
            border-bottom: none;
        }

        p {
            color: #4B555F;
            font-family: 'Maven Pro', sans-serif;
            font-size: 16px;
            span {
                color: #DCB305;
            }
            @media screen and (max-width:800px) {
                font-size: 18px;
            }
            @media screen and (max-width:500px) {
                font-size: 16px;
            }
        }
        ol {
            li {
                color: #4B555F;
                font-family: 'Maven Pro', sans-serif;
                font-size: 16px;
                margin-bottom: 20px;
            }
        }
        h4 {
            color: #4B555F;
            font-family: 'Maven Pro', sans-serif;
            font-size: 20px;
            font-weight: 500;
            text-align: left;
        }
        /*blockquote {
            color: #BDBDBD; 
            font-family: 'Maven Pro', sans-serif;   
            font-size: 16px;
            margin-left: 30px;
            border-left: 2px solid #DCB305;
            padding-left: 30px;
        }*/
    }
    .blg-sub {
        color: #4B555F;
        font-family: 'Maven Pro', sans-serif;
        font-size: 16px;
        font-weight: 700;
    }
    .individual-thumb {
        @media screen and (max-width: 800px) {
            margin-top: 15px;
        }
    }
    .imgtext {
        color: #4B555F;
        font-family: 'Maven Pro', sans-serif;
        font-size: 16px;
        font-weight: 500;
        @media screen and (max-width: 800px) {
            font-size: 18px;
            padding-top: 15px!important;
        }
        @media screen and (max-width: 500px) {
            margin: 0;
            font-size: 16px;
        }
    }
    .social-box {
        position: sticky;
        top: 0;
        padding-top: 150px;
        @media screen and (max-width: 768px) {
            padding-top:0px;
        }
        ul {
            list-style: none;
            padding: 0;
            li {
                padding-bottom: 20px;
                @media screen and (max-width: 768px) {
                    display: inline-block;
                    padding: 10px;
                }
            }
        }
    }
}

.pb-120 {
    padding-bottom: 120px;
}

.space-bottom {
    @media screen and (max-width: 600px) {
        margin-bottom: 20px;
    }
}










/* ---- button ---- */

// li.nav-link a:active,
// li.nav-link a.is-checked {
//      border-bottom:2px solid #DCB305;
//  border-left: none;
//     border-right: none;
//     border-top: none;
//     color: #DCB305;
// }
// li.nav-link a.is-checked {
//   color: white;
//   text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
// }
// li.nav-link a:active {
//   box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
// }

/* ---- button-group ---- */


/* ---- grid ---- */


/* clear fix */

.grid:after {
    content: '';
    display: block;
    clear: both;
}