.r-tabs .r-tabs-nav {
    margin: 0;
    padding: 0;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.r-tabs .r-tabs-tab {
    display: inline-block;
    margin: 0;
    list-style: none;
}




/*.r-tabs-state-active {
    content: "\f068";
    font-size: 13px;
   
}*/

a.r-tabs-anchor {
    display: inline-block;
    text-align: center;
    color: #4B555F;
    font-family: 'Maven Pro',
    sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 0px;
    padding-bottom: 5px;
    border: none;
    border-bottom: 2px solid transparent;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a.r-tabs-anchor:hover {
    border-bottom: 2px solid #DCB305;
    border-left: none;
    border-right: none;
    border-top: none;
    color: #DCB305;
    text-decoration: none;

}


li.r-tabs-tab {
    width: 20%;
    text-align: center;
    /*padding: 0px 0px 0px 20px;*/
}

.r-tabs .r-tabs-panel {
    padding: 15px 60px;
    display: none;
}

@media screen and (max-width: 500px) {
    .r-tabs .r-tabs-panel {
        padding: 0;
    }
}

.r-tabs .r-tabs-accordion-title {
    display: none;
}
.r-tabs .r-tabs-accordion-title:after{
    content: "+";
    position: absolute;
    right: 15px;
    font-size: 20px;
}
.r-tabs-accordion-title.r-tabs-state-active:after{
    content: "-";
    position: absolute;
    right: 15px;
    font-size: 20px;
}


.r-tabs .r-tabs-panel.r-tabs-state-active {
    display: block;
}





/* Active state tab anchor */

.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
    border-bottom: 2px solid #DCB305 !important;
    border-color: #DCB305 !important;
    color: #DCB305 !important;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;

}







/* Accordion responsive breakpoint */

@media only screen and (max-width: 1024px) {
    a.r-tabs-anchor {
        font-size: 15px;
    }
}

@media only screen and (max-width: 768px) {
    li.r-tabs-tab {
        padding: 0px 0px 0px 10px;
    }
    a.r-tabs-anchor {
        font-size: 12px;
    }
}

@media only screen and (max-width: 600px) {
    .r-tabs .r-tabs-nav {
        display: none;
    }




    .r-tabs .r-tabs-accordion-title {
        display: block;
        border-bottom: 1px solid #ccc;
        text-align: left;
        padding: 10px;
    }
    a.r-tabs-anchor:hover {
        border-bottom: none;
    }
}