<div class="container pt-5 pb-5">
    <div class="row ft-sub-heading">
        <div class="col-12">
            <img src="assets/images/home/White_logo.svg" class="mb-4" width="150">
        </div>
    </div>
    <div class="row ft-sub-heading">
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mb-4">
            <p>Clustr is a Bangalore based big data analytics company that empowers Micro, Small and Medium enterprises (MSMEs) across industries and geographies, with data-driven insights that are consumable, affordable, reliable and timely. Incubated in 2013 under Tally Solutions Pvt. Ltd., India’s largest software product company, Clustr inherits a passion for path-breaking technology and customer-centricity.</p>
        </div>
        <div class="col align-self-start mb-4 nav-link">
            <h4 class="ft-sub">EXPLORE</h4>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="about-us.html">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="life-clustr.html">Careers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="solutions.html">Solutions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="news-and-media.html">Media</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="thought-leadership-blogs.html">Thought Leadership</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact Us</a>
                </li>
            </ul>
        </div>
        <div class="col align-self-start mb-4">
            <h4 class="ft-sub">LOCATION</h4>
            <div class="mn-box">
                <p>CLUSTR (Tally Analytics Pvt Ltd.) </p>
                <p>23 & 24 AMR Tech Park II,</p>
                <p> Hongasandra - 560068</p>
                <p> Bengaluru, Karnataka - India</p>
            </div>
        </div>
        <div class="col align-self-start mb-4 ft-contact">
            <h4 class="ft-sub">CONTACT</h4>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <p>Phone:<a class="nav-link" href="tel:8030682559"> +91 (80) 30682559</a></p>
                </li>
                <li class="nav-item">
                    <p>Fax:<a class="nav-link" href="tel:8033682560"> +91 (80) 33682560</a></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="row align-items-center pp-tc">
        <div class="col-md-4">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Privacy Policy |</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Terms and Conditions</a>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <p>© CLUSTR (Tally Analytics Pvt Ltd.)</p>
        </div>
        <div class="col-md-3">
            <ul class="navbar-nav float-md-right">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <!-- <img src="assets/images/home/Facebook.svg"> -->
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.07 13">
                            <defs>
                                <style>
                                .cls-1 {
                                    fill: #dcb305;
                                }
                                </style>
                            </defs>
                            <title>Facebook</title>
                            <g id="Layer_2" data-name="Layer 2">
                                <g id="Layer_1-2" data-name="Layer 1">
                                    <path class="cls-1" d="M1.31,2.52V4.31H0V6.5H1.31V13H4V6.5h1.8s.17-1,.25-2.2H4V2.8a.63.63,0,0,1,.58-.52H6.07V0h-2C1.24,0,1.31,2.19,1.31,2.52Z" />
                                </g>
                            </g>
                        </svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <!-- <img src="assets/images/home/twitter.svg"> -->
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 12">
                            <defs>
                                <style>
                                .cls-1 {
                                    fill: #dcb305;
                                }
                                </style>
                            </defs>
                            <title>twitter</title>
                            <g id="Layer_2" data-name="Layer 2">
                                <g id="Layer_1-2" data-name="Layer 1">
                                    <path class="cls-1" d="M4.72,12a8.62,8.62,0,0,0,8.75-8.62c0-.13,0-.26,0-.39A6.38,6.38,0,0,0,15,1.42a6.36,6.36,0,0,1-1.77.48A3.07,3.07,0,0,0,14.58.22,6.13,6.13,0,0,1,12.63,1,3.12,3.12,0,0,0,8.28.82a3,3,0,0,0-.89,2.9A8.81,8.81,0,0,1,1,.55,3,3,0,0,0,2,4.6,3.25,3.25,0,0,1,.6,4.22v0a3,3,0,0,0,2.47,3,3.11,3.11,0,0,1-1.39,0,3.07,3.07,0,0,0,2.87,2.1A6.25,6.25,0,0,1,0,10.64,8.85,8.85,0,0,0,4.72,12" />
                                </g>
                            </g>
                        </svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <!-- <img src="assets/images/home/Linkdin.svg"> -->
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.6 13">
                            <defs>
                                <style>
                                .cls-1 {
                                    fill: #dcb305;
                                }
                                </style>
                            </defs>
                            <title>Linkedin</title>
                            <g id="Layer_2" data-name="Layer 2">
                                <g id="Layer_1-2" data-name="Layer 1">
                                    <path class="cls-1" d="M4.7,13H7.62V8.1a2.19,2.19,0,0,1,.09-.71,1.6,1.6,0,0,1,1.5-1.07c1,0,1.47.81,1.47,2V13H13.6V8C13.6,5.28,12.16,4,10.24,4A2.89,2.89,0,0,0,7.6,5.5h0V4.23H4.7c0,.82,0,8.77,0,8.77ZM1.63,3a1.52,1.52,0,1,0,0-3A1.52,1.52,0,0,0,0,1.52,1.5,1.5,0,0,0,1.61,3ZM3.09,13V4.23H.17V13Z" />
                                </g>
                            </g>
                        </svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">
                        <!-- <img src="assets/images/home/Instagram.svg" class=""> -->
                        <?xml version="1.0"?>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 169.063 169.063" style="enable-background:new 0 0 169.063 169.063;" xml:space="preserve" class="">
                            <g>
                                <g>
                                    <path d="M122.406,0H46.654C20.929,0,0,20.93,0,46.655v75.752c0,25.726,20.929,46.655,46.654,46.655h75.752   c25.727,0,46.656-20.93,46.656-46.655V46.655C169.063,20.93,148.133,0,122.406,0z M154.063,122.407   c0,17.455-14.201,31.655-31.656,31.655H46.654C29.2,154.063,15,139.862,15,122.407V46.655C15,29.201,29.2,15,46.654,15h75.752   c17.455,0,31.656,14.201,31.656,31.655V122.407z" data-original="#000000" class="" fill="#dcb305" />
                                    <path d="M84.531,40.97c-24.021,0-43.563,19.542-43.563,43.563c0,24.02,19.542,43.561,43.563,43.561s43.563-19.541,43.563-43.561   C128.094,60.512,108.552,40.97,84.531,40.97z M84.531,113.093c-15.749,0-28.563-12.812-28.563-28.561   c0-15.75,12.813-28.563,28.563-28.563s28.563,12.813,28.563,28.563C113.094,100.281,100.28,113.093,84.531,113.093z" data-original="#000000" class="" fill="#dcb305" />
                                    <path d="M129.921,28.251c-2.89,0-5.729,1.17-7.77,3.22c-2.051,2.04-3.23,4.88-3.23,7.78c0,2.891,1.18,5.73,3.23,7.78   c2.04,2.04,4.88,3.22,7.77,3.22c2.9,0,5.73-1.18,7.78-3.22c2.05-2.05,3.22-4.89,3.22-7.78c0-2.9-1.17-5.74-3.22-7.78   C135.661,29.421,132.821,28.251,129.921,28.251z" data-original="#000000" class="" fill="#dcb305" />
                                </g>
                            </g>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>