<div class="container">
    <nav id="navigation" class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="index.html"><img src="assets/images/home/Grey_Logo.svg" width="100%"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav header-link ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="about-us.html">About Us</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="window.location='solutions.html'">Solutions</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="">The problem Landscape</a>
                        <a class="dropdown-item" href="">Our Roadmap</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="window.location='thought-leadership-blogs.html#filter=.blogs'">Thought Leadership</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="thought-leadership-blogs.html#filter=.blogs">Blogs</a>
                        <a class="dropdown-item" href="thought-leadership-blogs.html#filter=.videos">Videos</a>
                        <a class="dropdown-item" href="thought-leadership-blogs.html#filter=.success-stories">Success Stories</a>
                        <a class="dropdown-item" href="thought-leadership-blogs.html#filter=.whitepapers">Whitepapers</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="career.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Careers</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="life-clustr.html">Life at Clustr</a>
                        <a class="dropdown-item scroll" href="open-position.html">Open Positions</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="news-and-media.html">Media</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact Us</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 dropdown input-box">
                <button class="btn btn-search my-2 my-sm-0 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="submit"><img src="assets/images/home/search.svg" width="15"></button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <input class="form-control mr-sm-2 input-search" type="search" placeholder="Search" aria-label="Search">
                </div>
            </form>
        </div>
    </nav>
</div>