#navbar-template {
    background-color: #fff;
}

header {
    .active {
        color: #DCB305!important;
    }
    .navbar-light {
        padding: 5px 0px 10px;
    }
    ul.navbar-nav {
        @media screen and (max-width: 600px) {
            margin-top: 20px;
        }
        li.nav-item {
            a.nav-link {
                color: #4B555F;
                font-family: 'Maven Pro', sans-serif;
                font-size: 14px;
                font-weight: 500;
                padding: 15px 20px 5px;
                text-transform: uppercase;
                &.dropdown-toggle::after {
                    display: none;
                }
                &:hover,
                &:active {
                    color: #DCB305;
                    background-color: transparent;
                }
            }
        }
        a.dropdown-item {
            font-family: 'Maven Pro', sans-serif;
            font-size: 14px;
            font-weight: 500;
            padding: 15px 20px;
            color: #4b555f;
            border-bottom: 1px solid #EEF2F5;

            &:hover,
            &:focus,
            &:active {
                color: #DCB305;
                background-color: transparent;
            }
            &:last-child {
                border-bottom: none;
                border-radius: 5px;
            }
        }
        .dropdown {
            .dropdown-menu {
                margin: 0px auto;
                border: none; // left: 0;
                // right: 0;
                padding: 15px 0px 0px;
                @media screxen and (max-width: 600px) {
                    padding: 15px 15px;
                }
            }
        }
    }
    form {

        .form-control {
            @media screen and (max-width: 800px) {
                width: 90%!important;
            }
            @media screen and (max-width: 500px) {
               width: 80%!important;
            }
        }

        .btn-search {
            background-color: transparent;
            box-shadow: none!important;
            padding: 10px 0px 5px;
            @media screen and (max-width: 800px) {
                padding: 10px 20px;
            }
        }

        .dropdown-menu {
            border: none;
            margin: 10px auto;
            @media screen and (max-width: 800px) {
                left:40px;
                width: 100%;
                top: -16px;
                background: none;
                padding: 0;
            }
            @media screen and (max-width: 500px){
                top: -7px;
            }


            &:focus {
                outline: none;
            }
        }
        @media screen and (max-width: 768px) {
            .dropdown-menu-right {
                right: auto;
            }
        }
    }
    .dropdown-toggle::after {
        display: none;
    }
    .input-search {
        border: 1px solid #4B555F;
        border-radius: 4px;
        background-color: #EEF2F5;
        margin: 10px 0px 0px 10px;
        @media screen and (max-width: 800px) {
            // margin-left: 10px;
            margin:10px;
        }
        &:focus {
            box-shadow: none;
            background-color: #EEF2F5;
            border-color: #495057;
        }
    }
    button.navbar-toggler {
        border: none;
        &:focus {
            outline: none;
            box-shadow: none;
        }
        @media screen and (max-width: 600px) {
            padding: 3px 7px;
            margin-top: 12px;
        }
    }
}

footer {
    background-color: #4B555F;
    .navbar-nav {
        @media screen and (max-width: 600px) {
            margin-top: 10px;
        }

        .nav-item {
            vertical-align: top;
            svg {
                width: 25px;
                height: 15px;
            }
            a {
                &:hover {
                    // .cls-1 {
                    //     fill: #C6C6C6;
                    // }
                    path {
                        fill: #C6C6C6;
                    }
                }
            }
        }
    }
    .ft-heading {
        p {
            font-family: 'Maven Pro', sans-serif;
            font-size: 16px;
            margin: 0px;
            color: #DCB305;
        }
    }
    .ft-sub-heading {
        p {
            color: #C6C6C6;
            font-family: 'Maven Pro', sans-serif;
            font-size: 12px;
            margin: 0;
            padding-right: 40px;
            @media screen and (max-width: 500px) {
                padding-right: 0px;
            }
        }
        .mn-box {
            p {
                font-size: 14px;
                padding-right: 14px;
            }
        }
        .nav-link {
            padding-top: 0px;
            ul {
                display: block;
                li {
                    width: 49%;
                    display: inline-block;
                    @media screen and (max-width: 768px) {
                        display: block;
                        width: 50%;
                    }
                    @media screen and (max-width: 600px) {
                        display: inline-block;
                        width: 48%;
                    }
                    a {
                        color: #C6C6C6;
                        font-family: 'Maven Pro', sans-serif;
                        font-size: 14px;
                    }
                }
            }
        }
        .mn-box {}
        .ft-sub {
            color: #DCB305;
            font-family: 'Maven Pro', sans-serif;
            font-size: 16px;
            margin-bottom: 15px;
        }
        .ft-contact {
            p {
                font-size: 14px;
            }
            .navbar-nav {
                .nav-link {
                    display: inline;
                    color: #C6C6C6;
                    font-family: 'Maven Pro', sans-serif;
                    font-size: 12px;
                }
            }
        }
    }
    .pp-tc {
        ul {
            display: block;
            li {
                display: inline-block;
                a {
                    color: #C6C6C6;
                    font-family: 'Maven Pro', sans-serif;
                    font-size: 12px;
                }
                img {
                    padding: 6px;
                }
            }
        }
        p {
            color: #C6C6C6;
            font-family: 'Maven Pro', sans-serif;
            font-size: 12px;
            margin: 0px;
        }
    }
}

@media screen and (max-width: 500px) {
    .col {
        min-width: 100%;
    }
}